@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


img{
  max-width: 200px;
}

h1,h2,p{
  color: rgb(255, 255, 255);
  font-family: 'Poppins', sans-serif;
}

#work-2{
  margin-bottom: 25px;
  margin-left: 0;
  padding-left: 0;
}

#education{
  text-align: center;
}
