<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
      <img src="../../../assets/sanlore.jpg" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
      <p id="nombre">Jerónimo Casas</p>
      <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
      <span>
        <h1>About Me</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore ipsam iusto tenetur cum, dolorum voluptatum. Ex perspiciatis, deleniti natus, eum quia molestias minima tempora nesciunt exercitationem maxime voluptatem nostrum impedit?</p>
      </span>
    </div>
</div>
