<div class="row" id="contenedor">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <img src="../../../assets/sanlore.jpg" id="fotodeperfil">
      <p id="nombre">Jerónimo Casas</p>
      <p>Full Stack Developer Jr.</p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" id="aboutme">
      <span>
        <h1><b>ABOUT ME</b></h1>
        <p>Hi! welcome to my portfolio. My name is Jerónimo, i'm 18 years old. I was born in Campana, a small city in Buenos Aires, Argentina. I was lucky to have my family, that alowed me to be raised in great conditions and gave me all the conforties to having a good academic formation.</p>
        <p>Since i have memory, i was an appassionate for the technology, that's why i'm here, creating my portfolio and introducing me to you :)</p>
        <p>Thank's you very much for reading this and i wish you a great day (or night).</p>
      </span>
    </div>
</div>
