@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


img{
  object-fit: cover;
  width: 250px;
  height: 250px;
  border: 3px solid grey;
}

div{
  background-color: #14181c;
  text-align: center;
}

/*Text*/
h1{
  font-size: 30px;
}

p{
  font-size: 20px;
}

h1, p{
  color: rgb(255, 255, 255);
  font-family: 'Poppins', sans-serif;
}

span{
  text-align: left;
}


/*Foto de perfil*/
#fotodeperfil{
    box-shadow: 3px 3px 3px #14181c;
    margin-top: -25%;
    border-radius: 50%;
}

#contenedor{
  padding-left: 25px;
  padding-right: 25px;
}

#aboutme{
  margin-top: 30px;
  text-align: left;
}

/*Nombre*/
#nombre{
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 50px;
  margin-top: 10px;
  color: rgb(255, 255, 255);
}
