img{
  object-fit: cover;
  width: 50%;
  height: 50%;
}

div{
  background-color: #14181c;
  text-align: center;
}

/*Text*/
h1{
  font-size: 30px;
}

p{
  font-size: 20px;
}

h1, p{
  color: rgb(255, 255, 255);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

span{
  text-align: center;
}


/*Foto de perfil*/
#fotodeperfil{
    box-shadow: 3px 3px 3px #14181c;
    margin-top: -30%;
    border-radius: 50%;
}




/*Nombre*/
#nombre{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  font-size: 50px;
  margin-top: 10px;
  color: rgb(255, 255, 255);
}
